<h1>Login page</h1>



<%= form_for(:user, url: login_path) do |f| %>
    
    <%= f.label "Please enter your Username:" %>
    <%= f.text_field :username %><br><br>

    <%= f.label "Please enter your password:" %>
    <%= f.password_field :password %><br><br>
    
    <%= f.submit "Log In" %>

<% end %>