<%= render partial: "layouts/error", locals: {object: @publisher} %>

<%= form_for @publisher do |p| %>
    
    <%= p.label "name" %><br>
    <%= p.text_field :name %><br>

    <%= p.label "based_in" %><br>
    <%= p.text_field :based_in %><br>

    <%= p.label "awards" %><br>
    <%= p.text_field :awards %><br>
    
    <h4> Games being created by the publisher:</h4>
    <%= p.fields_for :game do |f| %>
       <%= render partial: "games/game_field", locals: {g: f} %>
   <% end %><br>
 
   <%= p.submit %>
 <% end %>