<h1>You have selected <%= @publisher.name%>, here are all the availabel information for this publisher </h1>

    <%= @publisher.name %><br>
    <%= @publisher.formation %><br>

    <%= link_to "Edit", edit_publisher_path(@publisher)%>
    <%= link_to "Delete", publisher_path(@publisher), method: 'delete' %>