
<%= form_for([@publisher, @game]) do |g| %>
    
    <%= render partial: "game_form", locals: {gp: g} %>

    <h5>Please select a publisher</h5>
    <%= g.collection_select :publisher_id, Publisher.all, :id, :name, prompt:true%><br>

    <p>Dont see the publisher for the game?<br>
    Add it below:</p>

    <%= g.fields_for :publisher do |p| %>
        <%= render partial: "publishers/form", locals: {pp: p} %>

    <% end %><br>
    
    <%= g.submit %>
<% end %>