<%= render partial: "layouts/error", locals: {object: @game} %>

<%= form_for([@publisher, @game]) do |g| %>
    
    <%= g.label "Please enter the game title:", required: true %><br>
    <%= g.text_field :title%> <br><br>
    
    <%= g.label "Please enter the game genre:" %><br>
    <%= g.text_field :genre %><br><br>
    
    <%= g.label "Please enter the game's ESRB Rating:" %><br>
    <%= g.text_field :esrb_rating %><br><br>
    
    <%= g.label "Please enter the game's platform:" %><br>
    <%= g.text_field :platform %><br><br>
    
    <h5>Please select a publisher</h5>
    <%= g.collection_select :publisher_id, Publisher.all, :id, :name, prompt:true%><br>

    <p>Dont see the publisher for the game?<br>
    Add it below:</p>

    <%= g.fields_for_brand(g) :publisher do |p| %>
        <%= p.label "name" %><br>
        <%= p.text_field :name %><br>
    
        <%= p.label "formation" %><br>
        <%= p.text_field :formation %><br>
    
        <%= p.label "based_in" %><br>
        <%= p.text_field :based_in %><br>
    
        <%= p.label "awards" %><br>
        <%= p.text_field :awards %><br>
    
    <% end %>
    <br>
    <%= g.submit %>
<% end %>