
<h1> Here are all the games from <%= @publisher.name%> </h1> 

<% @games.each do |game|  %>

    Game Id: <%= game.id%><br>
    Name: <%= link_to game.title, publisher_games_path(game) %><br>
    Genre: <%= game.genre %> <br>
    Rating: <%= game.esrb_rating %><hr><br> 
<% end %>

