<h1>Here are all the games from <%= @publisher.name%> </h1>
 



<% @publisher.games.each do |g|%>
    <ul>
        <li><%= link_to g.title, publisher_game_path(@publisher, g)%> - <%= g.id%></li>
    </ul>     
<%end%> 


<h3>Want to add another game from <%= @publisher.name %>?</h3>
<%= link_to "Click Here", new_publisher_game_path(@publisher) %>




