<h5>Please select a given publisher</h5>
<%= g.collection_select :publisher_id, Publisher.all, :id, :name %><br>

<p>Dont see the publisher for the game? Add it below:</p><br>

<%= g.fields_for :publisher do |p| %>
    <%= p.label "name" %><br>
    <%= p.text_field :name %><br>

    <%= p.label "based_in" %><br>
    <%= p.text_field :based_in %><br>

    <%= p.label "awards" %><br>
    <%= p.text_field :awards %><br>

<% end %>