<h1>Please fill out the field below to edit the game details: </h1>

<% if @game.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(@game.errors.count, "error") %> prohibited this game from being saved:</h2>

    <ul>
      <% @game.errors.each do |error| %>
        <li><%= error.full_message %></li>
      <% end %>
    </ul>
  </div>
<% end %>

<%= form_for([@publisher, @game]) do |g| %>
    
    <%= g.label "Please enter the game title:", required: true %><br>
    <%= g.text_field :title%> <br><br>

    <%= g.label "Please enter the game genre:" %><br>
    <%= g.text_field :genre %><br><br>

    <%= g.label "Please enter the game's ESRB Rating:" %><br>
    <%= g.text_field :esrb_rating %><br><br>

    <%= g.label "Please enter the game's platform:" %><br>
    <%= g.text_field :platform %><br><br>
    
    <h5>Please select the publisher below: </h5>
    <%= g.collection_select :publisher_id, Publisher.all, :id, :name%><br>

    <p>Please edit the Publisher's information below:</p>

    <%= g.fields_for :publisher do |p| %>
        <%= p.label "name" %><br>
        <%= p.text_field :name %><br>

        <%= p.label "formation" %><br>
        <%= p.text_field :formation %><br>

        <%= p.label "based_in" %><br>
        <%= p.text_field :based_in %><br>

        <%= p.label "awards" %><br>
        <%= p.text_field :awards %><br>
    <% end %><br>
    
    <%= g.submit %>
<% end %>