<h1>Please complete the fields below to Add a New Game</h1>

<%= form_for([@publisher, @game]) do |g| %>
    
    <%= g.label "Please enter the game title" %><br>
    <%= g.text_field :title%> <br><br>

    <%= g.label "Please enter the game genre:" %><br>
    <%= g.text_field :genre %><br><br>

    <%= g.label "publisher"%> <br>
    <%= g.collection_select :publisher_id, Publisher.all, :id, :name%>

    <%= g.submit %>
<% end %>