<h1>Please complete the fields below to Add a New Game</h1>

<%= form_for(@game) do |g| %>
    
    <%= g.label "Please enter the game title" %>
    <%= g.text_field :title%> <br><br>

    <%= g.label "Please enter the game genre:" %>
    <%= g.text_field :genre %><br><br>

    <%= g.submit %>
<% end %>