<h1>You have selected <%= @game.title%></h1>
<h4>See below for all the available information and comment for this game: </h4>

    Title: <%= @game.title %><br>
    Game Genre: <%= @game.genre %><br>
    Game ESRB Rating: <%= @game.esrb_rating %><br>
    Game Platform: <%= @game.platform %><br>
    Game Publisher: <%= @game.publisher.name%><br><hr>
    
<%= link_to "Edit", edit_game_path(@game)%>
<%= link_to "Write a review", new_game_review_path(@game)%>
<%= link_to "Delete", game_path(@game), method: 'delete' %>


    <h3>Reviews for the game</h3>
    <% @game.reviews.each do |review| %>
        by <%= link_to review.user.username, review_path(review) %><br>
        Postive aspect rating: <%= review.props %><br>
        Comment postive aspect: <%= review.pro_comment %> <br>
        Negative aspect rating: <%= review.boos %> <br>
        Comment on negative aspect: <%= review.con_comment%> <hr><br>
    <% end %>
   


