<!DOCTYPE html>
<html>
  <head>
    <title>Project3Rails</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div>
      <% if registered? %>
        <%= link_to "Add Game", new_game_path %>
        <%= link_to "My Games Collection", games_path %>
        <%= link_to "Log Out", logout_path, method: 'delete' %>
      <% else %>
        <%= link_to "Sign up", signup_path %> |
        <%= link_to "Log In", login_path %> |
        <%= button_to "Log In with Google", '/auth/google_oauth2' %> |
        <%= button_to "Log In with Github", '/auth/github' %> |
        <%= button_to "Log In with Facebook", '/auth/facebook' %> |
        <%= flash.each do |type, msg|%>   
          <%= msg %>
        <% end %>
      <% end %>
    </div>

    <%= yield %>
  </body>
</html>
